<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="">
<!--<![endif]-->
<!-- need var :
    curProduct,similarList, guessList

    Product: type, id, image, description, title,averageScore
-->
{% load static %}
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static '../static/images//favicon.ico' %}"/>

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed"
          href="{% static '../static/images//apple-touch-icon-114x114-precomposed.png' %}">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed"
          href="{% static '../static/images//apple-touch-icon-72x72-precomposed.png' %}">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed"
          href="{% static '../static/images//apple-touch-icon-57x57-precomposed.png' %}">

    <!-- Library - Google Font Familys -->
    <link
            href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
            rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static '../static/revolution/css/settings.css' %}">

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="{% static '../static/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/revolution/css/navigation.css' %}">

    <!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="{% static '../static/libraries/lib.css' %}">

    <!-- Custom - Common CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/navigation-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/shortcode.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/style.css' %}">


    <!--[if lt IE 9]>
    <script src="{% static '../static/js/html5/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
<div class="main-container">
    <!-- Loader -->
    <div id="site-loader" class="load-complete">
        <div class="loader">
            <div class="loader-inner ball-clip-rotate">
                <div></div>
            </div>
        </div>
    </div><!-- Loader /- -->

    <!-- Header -->
    <header class="header-section container-fluid no-padding">

        <!-- Menu Block -->
        <div class="container-fluid no-padding menu-block">
            <!-- Container -->
            <div class="container">
                <!-- nav -->
                <nav class="navbar navbar-default ow-navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                                data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/webpage/index" class="navbar-brand">Sample <span>shop</span></a>
                    </div>
                    <!-- Menu Icon -->
                    <div class="menu-icon">
                        <div class="search">
                            <a href="#" id="search" title="Search"><i class="icon icon-Search"></i></a>
                        </div>
                        <ul class="cart">
                            <li>
                                <a aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" id="cart"
                                   class="btn dropdown-toggle" title="Add To Cart" href="#"><i
                                        class="icon icon-ShoppingCart"></i></a>
                                <ul class="dropdown-menu no-padding">
                                    <li class="mini_cart_item">
                                        <a title="Remove this item" class="remove" href="#">&#215;</a>
                                        <a href="#" class="shop-thumbnail">
                                            <img alt="poster_2_up" class="attachment-shop_thumbnail"
                                                 src="{% static '../static/images/product-wishlist-1.jpg' %}">Flying
                                            Ninja
                                        </a>
                                        <span class="quantity">2 &#215; <span class="amount">Rs.12.00</span></span>
                                    </li>
                                    <li class="mini_cart_item">
                                        <a title="Remove this item" class="remove" href="#">&#215;</a>
                                        <a href="#" class="shop-thumbnail">
                                            <img alt="poster_2_up" class="attachment-shop_thumbnail"
                                                 src="{% static '../static/images/product-wishlist-2.jpg' %}">Flying
                                            Ninja
                                        </a>
                                        <span class="quantity">2 &#215; <span class="amount">Rs.12.00</span></span>
                                    </li>
                                    <li class="button">
                                        <a href="#" title="View Cart">View Cart</a>
                                        <a href="#" title="Check Out">Check out</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" title="Like"><i class="icon icon-Heart"></i></a></li>
                            <li><a href="#" title="User"><i class="icon icon-User"></i></a></li>
                        </ul>
                    </div><!-- Menu Icon /- -->
                    <div class="navbar-collapse collapse navbar-right" id="navbar">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </nav><!-- nav /- -->
                <!-- Search Box -->
                <div class="search-box">
                    <span><i class="icon_close"></i></span>
                    <form><input type="text" class="form-control"
                                 placeholder="Enter a keyword and press enter..."/></form>
                </div><!-- Search Box /- -->
            </div><!-- Container /- -->
        </div><!-- Menu Block /- -->
    </header><!-- Header /- -->

    <main>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th class="product-subtotal">Image</th>
                <th class="product-subtotal">Title</th>
                <th class="product-subtotal">Average score</th>
                <th class="product-subtotal">description</th>
                <th class="product-subtotal">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr class="cart_item">
                <td data-title="Item" class="product-thumbnail"><a href="#"><img
                        src="{{ curProduct.imageUrl }}" alt="Product"></a></td>
                <td data-title="Total" class="product-subtotal">{{ curProduct.title }}</td>
                <td data-title="Total" class="product-subtotal">{{ curProduct.avg }}</td>
                <td data-title="Total" class="product-subtotal">{{ curProduct.descriptionOne }}</td>
                <td data-title="Total" class="product-subtotal">{{ curProduct.product_type }}</td>
            </tr>
            </tbody>
        </table>

        <!-- Similar Product -->
        <div id="selling" class="container-fluid no-left-padding no-right-padding woocommerce-selling">
            <!-- Container -->
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <h3>Similar Product</h3>
                    <img src="{% static '../static/images/section-seprator.png' %}" alt="section-seprator"/>
                </div><!-- Section Header /- -->
                {% for similarProduct in similarList %}
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="selling-box">
                            <img src="{{ similarProduct.imageUrl }}" alt="selling"/>
                            <div class="selling-content">
                                <h6><a href="/webpage/detail/{{ similarProduct.intAsin }}">{{ similarProduct.title }}</a>
                                </h6>
                                <span class="price">{{ similarProduct.product_type }}</span>
                                <div class="star-rating">
                                    <i class="fa">{{ similarProduct.avg }} </i>
                                </div>
                            </div>
                            <div class="icon-list">
                                <a href="#"><i class="fa fa-arrows-alt"></i></a>
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div><!-- Container /- -->
        </div><!-- BestSelling /- -->

        <!-- Guess You Like -->
        <div id="selling" class="container-fluid no-left-padding no-right-padding woocommerce-selling">
            <!-- Container -->
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <h3>Guess You Like</h3>
                    <img src="{% static '../static/images/section-seprator.png' %}" alt="section-seprator"/>
                </div><!-- Section Header /- -->
                {% for guessProduct in guessList %}
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="selling-box">
                            <img src="{{ guessProduct.imageUrl }}" alt="selling"/>
                            <div class="selling-content">
                                <h6><a href="/webpage/detail/{{ guessProduct.intAsin }}">{{ guessProduct.title }}</a></h6>
                                <span class="price">{{ guessProduct.product_type }}</span>
                                <div class="star-rating">
                                    <i class="fa">{{ guessProduct.avg }} </i>
                                </div>
                            </div>
                            <div class="icon-list">
                                <a href="#"><i class="fa fa-arrows-alt"></i></a>
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div><!-- Container /- -->
        </div><!-- PopularSelling /- -->

    </main>


</div>


<!-- JQuery v1.12.4 -->
<script src="{% static '../static/js/jquery.min.js' %}"></script>

<!-- Library - Js -->
<script src="{% static '../static/libraries/lib.js' %}"></script>

<script src="{% static '../static/libraries/jquery.countdown.min.js' %}"></script>

<!-- RS5.0 Core JS Files -->
<script type="text/javascript"
        src="{% static '../static/revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %}"></script>
<script type="text/javascript"
        src="{% static '../static/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %}"></script>
<script type="text/javascript"
        src="{% static '../static/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '../static/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '../static/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '../static/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '../static/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>

<!-- Library - Theme JS -->
<script src="{% static '../static/js/functions.js' %}"></script>

</body>

</html>